<!DOCTYPE html>
<html lang="en">

        <!-- Doctors -->

	<div class="doctors">
            <div class="doctors_image"><img src="images/doctors.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                            <div class="doctor_image" ><img src="../assets/images/" alt=""></div>
                        <div class="section_title">Our Doctors</div>
                        
                    </div>
                </div>
                <div class="row doctors_row">
                    
                    <!-- Doctor -->
                    <div class="col-xl-3 col-md-6">
                        <div class="doctor">
                            <div class="doctor_image"><img src="images/doc_1.jpg" alt=""></div>
                            <div class="doctor_content">
                                <div class="doctor_name"><a href="#">doctor 1</a></div>
                                <div class="doctor_title">Surgeon</div>
                                <div class="doctor_link"><a href="#">+</a></div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Doctor -->
                    <div class="col-xl-3 col-md-6">
                        <div class="doctor">
                            <div class="doctor_image"><img src="images/doc_2.jpg" alt=""></div>
                            <div class="doctor_content">
                                <div class="doctor_name"><a href="#">doctor 2</a></div>
                                <div class="doctor_title">Surgeon</div>
                                <div class="doctor_link"><a href="#">+</a></div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Doctor -->
                    <div class="col-xl-3 col-md-6">
                        <div class="doctor">
                            <div class="doctor_image"><img src="images/doc_3.jpg" alt=""></div>
                            <div class="doctor_content">
                                <div class="doctor_name"><a href="#">doctor 3</a></div>
                                <div class="doctor_title">Surgeon</div>
                                <div class="doctor_link"><a href="#">+</a></div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Doctor -->
                    <div class="col-xl-3 col-md-6">
                        <div class="doctor">
                            <div class="doctor_image"><img src="images/doc_4.jpg" alt=""></div>
                            <div class="doctor_content">
                                <div class="doctor_name"><a href="#">doctor 4</a></div>
                                <div class="doctor_title">Surgeon</div>
                                <div class="doctor_link"><a href="#">+</a></div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Doctor -->
                    <div class="col-xl-3 col-md-6">
                        <div class="doctor">
                            <div class="doctor_image"><img src="images/doc_5.jpg" alt=""></div>
                            <div class="doctor_content">
                                <div class="doctor_name"><a href="#">doctor 5</a></div>
                                <div class="doctor_title">Surgeon</div>
                                <div class="doctor_link"><a href="#">+</a></div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Doctor -->
                    <div class="col-xl-3 col-md-6">
                        <div class="doctor">
                            <div class="doctor_image"><img src="images/doc_6.jpg" alt=""></div>
                            <div class="doctor_content">
                                <div class="doctor_name"><a href="#">doctor 6</a></div>
                                <div class="doctor_title">Laboratory</div>
                                <div class="doctor_link"><a href="#">+</a></div>
                            </div>
                        </div>
                    </div>
    
                    
    
                </div>
                <div class="row">
                    <div class="col">
                        <div class="button doctors_button ml-auto mr-auto"><a href="#"><span>see all doctors</span><span>see all doctors</span></a></div>
                    </div>
                </div>
            </div>
        </div>
                

    </html>
